html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #e9e9e9;
    margin: 0 0 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
header{
    width: 100%;
    height: 8vmin;
    background-color: #dfdfdf;
    border-bottom: #ccc solid 1px;
    box-shadow: 0 2px 9px #d4d4d4;
    position: relative;
    display:flex;
    align-items: center;
}

footer{
    color: rgb(100, 100, 100);

    width: 100%;
    max-height: 120px;

    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
}

footer a{
    color: inherit;
}

h2{
    margin: 5px;
}

#challenge-create-box-container{
    margin: 2em auto 2em auto;

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

.challenge-create-box{
    background-color: #e2e2e2;
    aspect-ratio: 1 / 1;
    text-align: center;

    border: #aaa solid 0.5px;
    border-radius: 3px;

    display: block;
    padding: 0;
    margin: 0;
}

.challenge-create-box:hover{
    box-shadow: 0 0 6px #222;
}

.challenge-board, .challenge-dashboard{
    float:left;
}

.challenge-dashboard{
    padding: 0.2em;
    margin: 0.3em; 
    border: grey 2px solid;
    background: #f4f4f4;
}
.challenge-dashboard-player{
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: grey 3px solid;
}
.challenge-dashboard-player.challenge-dashboard-player-hasTurn{
    border-bottom: rgb(20, 187, 20) 3px solid;
}

.challenge-wrapper{
    margin: auto;
    margin-top: 0.5em;
    width: 80%;
    display: flex;
    /* pushes the dashboard below the board on narrow screens so that the board can be seen better */
    flex-wrap: wrap; 
    /* center elements */
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.challenge-dashboard{
    width: 330px;
    display: flex;
    align-items: center;
}

.player-tag{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

.player-tag-self{
    font-weight: 600;
}

.mancala-board{
    width: 70vmin;
    height: 23.333vmin;
    /* keeping this ratio symmetric to aspect-ratio allows for the borders to be rounded properly. */
    border-radius: 5% / 15%; 
    background-color: #88603D;
    position: relative;
}

.mancala-bank{
    height: 80%;
    background-color: #BA8E4A;
    width: 10%;
    border-radius: 30% / 10%;
    position: absolute;
    top: 10%;
    text-align: center;
    color: #222;
}

.mancala-bank-l{
    left: 3%;
}

.mancala-bank-r{
    right: 3%;
}
.mancala-pit{
    height: 30%;
    background-color: #BA8E4A;
    /*box-shadow: 1px 1px green ;*/
    width: 10%;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: small;
    color: #222;
}
.mancala-pit-d-1{
    left: 15%;
    bottom: 10%;
}
.mancala-pit-d-2{
    left: 27%;
    bottom: 10%;
}
.mancala-pit-d-3{
    left: 39%;
    bottom: 10%;
}
.mancala-pit-d-4{
    left: 51%;
    bottom: 10%;
}
.mancala-pit-d-5{
    left: 63%;
    bottom: 10%;
}
.mancala-pit-d-6{
    left: 75%;
    bottom: 10%;
}

.mancala-pit-u-1{
    left: 15%;
    top: 10%;
}
.mancala-pit-u-2{
    left: 27%;
    top: 10%;
}
.mancala-pit-u-3{
    left: 39%;
    top: 10%;
}
.mancala-pit-u-4{
    left: 51%;
    top: 10%;
}
.mancala-pit-u-5{
    left: 63%;
    top: 10%;
}
.mancala-pit-u-6{
    left: 75%;
    top: 10%;
}

.mancala-pebble{
    height: 7.5%;
    background-color: skyblue;
    /*box-shadow: 1px 1px green ;*/
    width: 2.5%;
    border-radius: 50%;
    position: absolute;
}

.mancala-pebble-1{
    top:50%;
    left:50%;
}