html{
    background: #dbdbdb;
    font-family: "Noto Sans", Sans-Serif;
}

button{
    font-family: "Noto Sans", Sans-Serif;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#connection-info{
    position: absolute;
    right: 0;
    top: 0;
    font-size: smaller;
    color: #454545;
}