.cellDark{
    background-color: #946F51;
}

.cellLight{
    background-color: #F0D9B5;
}

.cellDark.indicatorLastMove{
    background: radial-gradient(circle at 50% 50%, #946F51 80%, rgba(10, 10, 14, 0.87) 80%)
}
.cellLight.indicatorLastMove{
    background: radial-gradient(circle at 50% 50%, #F0D9B5 80%, rgba(10, 10, 14, 0.87) 80%)
}

.cellDark.indicatorPrimary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(125, 131, 206, 0.87) 20%, #946F51 20%)
}
.cellDark.indicatorPrimary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #946F51 80%, rgba(125, 131, 206, 0.87) 80%)
}
.cellDark.indicatorSecondary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(206, 125, 125, 0.87) 20%, #946F51 20%)
}
.cellDark.indicatorSecondary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #946F51 80%, rgba(206, 125, 125, 0.87) 80%)
}

.cellLight.indicatorPrimary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(125, 131, 206, 0.87) 20%, #F0D9B5 20%)
}
.cellLight.indicatorPrimary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #F0D9B5 80%, rgba(125, 131, 206, 0.87) 80%)
}
.cellLight.indicatorSecondary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(206, 125, 125, 0.87) 20%, #F0D9B5 20%)
}
.cellLight.indicatorSecondary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #F0D9B5 80%, rgba(206, 125, 125, 0.87) 80%)
}