.cellDark:not(.indicator){
    background-color: #946F51;
}

.cellLight:not(.indicator){
    background-color: #F0D9B5;
}

.cellDark.indicator.indicatorPrimary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(125, 131, 206, 0.87) 20%, #946F51 20%)
}
.cellDark.indicator.indicatorPrimary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #946F51 80%, rgba(125, 131, 206, 0.87) 80%)
}
.cellDark.indicator.indicatorSecondary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(206, 125, 125, 0.87) 20%, #946F51 20%)
}
.cellDark.indicator.indicatorSecondary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #946F51 80%, rgba(206, 125, 125, 0.87) 80%)
}

.cellLight.indicator.indicatorPrimary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(125, 131, 206, 0.87) 20%, #F0D9B5 20%)
}
.cellLight.indicator.indicatorPrimary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #F0D9B5 80%, rgba(125, 131, 206, 0.87) 80%)
}
.cellLight.indicator.indicatorSecondary.indicatorInner{
    background: radial-gradient(circle at 50% 50%, rgba(206, 125, 125, 0.87) 20%, #F0D9B5 20%)
}
.cellLight.indicator.indicatorSecondary.indicatorOuter{
    background: radial-gradient(circle at 50% 50%, #F0D9B5 80%, rgba(206, 125, 125, 0.87) 80%)
}