bidict==0.21.3
cffi==1.15.0
click==8.0.1
configobj==5.0.6
cryptography==35.0.0
dnspython==2.1.0
eventlet==0.32.0
Flask==2.0.1
Flask-SocketIO==5.1.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
python-engineio==4.2.1
python-gnupg==0.4.7
python-ldap==3.3.1
python-socketio==5.4.0
secrets==1.0.2
six==1.16.0
systematic==4.8.7
typing-extensions==3.10.0.2
Werkzeug==2.0.1
zipp==3.6.0
